.heart {
    position: absolute;
    bottom: -10px;
    width: 20px;
    height: 20px;
    background-color: red;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    opacity: 0.7;
    animation: float 5s forwards;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100vh);
    }
}
